@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply bg-white rounded hover:bg-gray-100 flex justify-center flex-col items-center p-2 overflow-hidden shadow-md relative;
}
.scard {
  @apply bg-white rounded p-4 shadow-md;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  border-radius: 5px;
  --tw-bg-opacity: 1;
  background: #F5F5F5;
}

/* Handle */

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  --tw-bg-opacity: 1;
 background:  rgb(148, 148, 148);;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.oc-h-screen {
  max-height: 80vh;
}
.body::-webkit-scrollbar {
  width: 4px;     /* Tamaño del scroll en vertical */
  height: 4px;    /* Tamaño del scroll en horizontal */
  display: none;  /* Ocultar scroll */
}
.btn1 {
  @apply flex flex-grow text-sm px-6  shadow-md py-1  bg-white font-medium hover:bg-primary hover:text-white;
}
.btn12 {
  @apply  text-base px-6  shadow-md py-2  bg-white font-medium hover:bg-primary hover:text-white;
}

.calcbtn {
  @apply p-6 shadow-md rounded-md font-medium text-xl;

  }


  .line-bottom{
    border-bottom: 1px solid rgba(54, 64, 74, 0.08);
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    background-clip: padding-box;
    /*background-color: #fff;*/
}

.vh-screen{
height: calc(100vh - 480px);
}
.max-h-vh{
  max-height: calc(100vh - 380px) ;
}